# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plans
*.tfplan

# IDE
.vscode/
.idea/

# macOS
.DS_Store
